* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Outfit-Regular;
    src: url(Outfit-Regular.ttf);
}

body {
    background-color: #0D1A2D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:link{
    text-decoration: none;
    color:#FFFFFF;
    transition: 0.4s;
}

a:visited {
    text-decoration:none;
    color:#FFFFFF;
}

a:hover{
    transition: 0.4s;
    color: hsl(178, 100%, 50%);
    text-decoration:none;
}
a:active{
    text-decoration: none;
    color:#FFFFFF;
}

h1 {
    color: #FFFFFF;
    font-family: Outfit-Regular;
    text-decoration:none;
    font-size: 120%;
    margin-top: 7%;
}

hr {
    margin: 5%;
    color: #293B53;
}

p {
    color:#9BB2D6;
    font-family: Outfit-Regular;
    font-size: 90%;
    margin: 7% 0% 7% 0%;
    line-height: 150%;
}

span {
    color: hsl(178, 100%, 50%);
    font-family: Outfit-Regular;
    font-size: 90%;
}

strong {
    font-size: 80%;
}


#artist {
    width: 10%;
    height: 80%;
    border-radius: 100%;
    border: 1px solid #FFF;
    margin-right: 5%;
    align-items: center;
}

#card-container {
    background-color: #15273F;
    border-radius: 3% 5%;
    display: flex;
    padding:1%;
    margin: 10%;
    flex-direction: column;
    width: 15%;
    height: 20%;
    box-shadow: 0px 0px 50px #0C1729;
}

#eye {
    display: none;
    position: absolute;
    top:270px;
    left:775px;
}

#name {
    color:#FFFFFF;
}

#nft {
    width:100%;
    height:100%;
    border-radius: 3% 5%;
    background-color:rgba(183, 255, 255, 0.226);
}

#testing:hover {
    mix-blend-mode: screen;
}

#nft-image:hover #eye{
    display: block;
}

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

.creator {
    color:#9BB2D6;
    display: flex;
}

.info {
    color:#9BB2D6;
    margin-left: 30%;
}